.landing-bottom {
    padding: 30px 0 60px;
    &__hashtag {
        font-size: 110px;
        line-height: 120%;
        margin-bottom: 50px;
    }
    &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid black;
        border-left: none;
        border-right: none;
        padding: 50px 0;
        a {
            display: inline-block;
            text-transform: uppercase;
            font-weight: 700;
            background: url(../../img/header_element_mobile_old.svg) no-repeat left;
            padding: 18px 15px;
            font-weight: 700;
            background-size: auto 83%;
            font-size: 24px;
            color: inherit;
            &:last-child {
                padding-right: 0;
            }
        }
    }
}


@media (max-width: 1199px) { 
    .landing-bottom {
        &__hashtag {
            font-size: 80px;
        }
        &__links {
            a {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 991px) {
    .landing-bottom {
        &__hashtag {
            font-size: 60px;
        }
    }
}

@media (max-width: 767px) { 
    .landing-bottom {
        padding: 20px 0;
        &__hashtag {
            font-size: 63px;
            margin-bottom: 20px;
        }
        &__links {
            padding: 25px 0;
            flex-wrap: wrap;
            a {
                margin-bottom: 10px;
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 600px) {
    .landing-bottom {
        &__hashtag {
            font-size: 30px;
            margin-bottom: 10px;
        }
        &__links {
            flex-direction: column;
            align-items: flex-start;
            a {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    } 
}