body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin: 0;
}

p {
    margin: 0;
    line-height: inherit;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

.text-shadow {
    color: #fff;
    text-shadow:
        -0 -2px 0 #20B2AA,
        0 -2px 0 #20B2AA,
        -0 2px 0 #20B2AA,
        0 2px 0 #20B2AA,
        -2px -0 0 #20B2AA,
        2px -0 0 #20B2AA,
        -2px 0 0 #20B2AA,
        2px 0 0 #20B2AA,
        -1px -2px 0 #20B2AA,
        1px -2px 0 #20B2AA,
        -1px 2px 0 #20B2AA,
        1px 2px 0 #20B2AA,
        -2px -1px 0 #20B2AA,
        2px -1px 0 #20B2AA,
        -2px 1px 0 #20B2AA,
        2px 1px 0 #20B2AA,
        -2px -2px 0 #20B2AA,
        2px -2px 0 #20B2AA,
        -2px 2px 0 #20B2AA,
        2px 2px 0 #20B2AA,
        -2px -2px 0 #20B2AA,
        2px -2px 0 #20B2AA,
        -2px 2px 0 #20B2AA,
        2px 2px 0 #20B2AA;

}

@import "includes/intro";
@import "includes/info";
@import "includes/steps";
@import "includes/additionally";
@import "includes/bottom";

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 600px) {
    .text-shadow {
        text-shadow: 
		-0   -1px 0   #20B2AA,
		 0   -1px 0   #20B2AA,
		-0    1px 0   #20B2AA,
		 0    1px 0   #20B2AA,
		-1px -0   0   #20B2AA,
		 1px -0   0   #20B2AA,
		-1px  0   0   #20B2AA,
		 1px  0   0   #20B2AA,
		-1px -1px 0   #20B2AA,
		 1px -1px 0   #20B2AA,
		-1px  1px 0   #20B2AA,
		 1px  1px 0   #20B2AA,
		-1px -1px 0   #20B2AA,
		 1px -1px 0   #20B2AA,
		-1px  1px 0   #20B2AA,
		 1px  1px 0   #20B2AA;
    }
}