@font-face {
    font-family: 'Stolzl';
    src: url('Stolzl-Light.eot');
    src: local('Stolzl Light'), local('Stolzl-Light'),
        url('Stolzl-Light.eot?#iefix') format('embedded-opentype'),
        url('Stolzl-Light.woff2') format('woff2'),
        url('Stolzl-Light.woff') format('woff'),
        url('Stolzl-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('Stolzl-Thin.eot');
    src: local('Stolzl Thin'), local('Stolzl-Thin'),
        url('Stolzl-Thin.eot?#iefix') format('embedded-opentype'),
        url('Stolzl-Thin.woff2') format('woff2'),
        url('Stolzl-Thin.woff') format('woff'),
        url('Stolzl-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl Book';
    src: url('Stolzl-Book.eot');
    src: local('Stolzl Book'), local('Stolzl-Book'),
        url('Stolzl-Book.eot?#iefix') format('embedded-opentype'),
        url('Stolzl-Book.woff2') format('woff2'),
        url('Stolzl-Book.woff') format('woff'),
        url('Stolzl-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Regular.eot');
    src: local('../fonts/Stolzl Regular'), local('Stolzl-Regular'),
        url('../fonts/Stolzl-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stolzl-Regular.woff2') format('woff2'),
        url('../fonts/Stolzl-Regular.woff') format('woff'),
        url('../fonts/Stolzl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Bold.eot');
    src: local('../fonts/Stolzl Bold'), local('Stolzl-Bold'),
        url('../fonts/Stolzl-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stolzl-Bold.woff2') format('woff2'),
        url('../fonts/Stolzl-Bold.woff') format('woff'),
        url('../fonts/Stolzl-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Medium.eot');
    src: local('../fonts/Stolzl Medium'), local('Stolzl-Medium'),
        url('../fonts/Stolzl-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stolzl-Medium.woff2') format('woff2'),
        url('../fonts/Stolzl-Medium.woff') format('woff'),
        url('../fonts/Stolzl-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Stolzl', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin: 0;
}

p {
    margin: 0;
    line-height: inherit;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

.text-shadow {
    color: #fff;
    text-shadow:
        -0 -2px 0 #20B2AA,
        0 -2px 0 #20B2AA,
        -0 2px 0 #20B2AA,
        0 2px 0 #20B2AA,
        -2px -0 0 #20B2AA,
        2px -0 0 #20B2AA,
        -2px 0 0 #20B2AA,
        2px 0 0 #20B2AA,
        -1px -2px 0 #20B2AA,
        1px -2px 0 #20B2AA,
        -1px 2px 0 #20B2AA,
        1px 2px 0 #20B2AA,
        -2px -1px 0 #20B2AA,
        2px -1px 0 #20B2AA,
        -2px 1px 0 #20B2AA,
        2px 1px 0 #20B2AA,
        -2px -2px 0 #20B2AA,
        2px -2px 0 #20B2AA,
        -2px 2px 0 #20B2AA,
        2px 2px 0 #20B2AA,
        -2px -2px 0 #20B2AA,
        2px -2px 0 #20B2AA,
        -2px 2px 0 #20B2AA,
        2px 2px 0 #20B2AA;

}

@import "includes/intro";
@import "includes/info";
@import "includes/steps";
@import "includes/additionally";
@import "includes/bottom";

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 600px) {
    .text-shadow {
        text-shadow: 
		-0   -1px 0   #20B2AA,
		 0   -1px 0   #20B2AA,
		-0    1px 0   #20B2AA,
		 0    1px 0   #20B2AA,
		-1px -0   0   #20B2AA,
		 1px -0   0   #20B2AA,
		-1px  0   0   #20B2AA,
		 1px  0   0   #20B2AA,
		-1px -1px 0   #20B2AA,
		 1px -1px 0   #20B2AA,
		-1px  1px 0   #20B2AA,
		 1px  1px 0   #20B2AA,
		-1px -1px 0   #20B2AA,
		 1px -1px 0   #20B2AA,
		-1px  1px 0   #20B2AA,
		 1px  1px 0   #20B2AA;
    }
}